
body{
    
    background-image: linear-gradient(to bottom right  ,#0f171f, #150f30);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}


#lab1{
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5%;
}

#lab2{
    display: block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px
}

#lab3{
    display: block;
    text-align: center;
    font-size: 30px;
    
}
#temp{
    margin-left: 40%;
    position: relative;
    width: 250px;
    height: 50px;
    border: solid;
    margin-bottom: 10px;
    font-family: "calibri";
    font-size: 30px;
    color: black;
}

#choice1{

    margin-left: 40%;
    width: 30px;
    height: 30px;
    
       
}

#tlab1{
    margin-left: 5px;
    text-align: center;
    font-size: 30px;
    
}

#choice2{
    margin-left: 40%;
    width: 30px;
    height: 30px;
       
}

#tlab2{
    margin-left: 5px;
    text-align: center;
    font-size: 30px;
    
}


#btn{   
    margin-top: 20px;
    width: 180px;
    height: 50px;
    border:thin;
    margin-left: 42%;
    font-size: 25px;
    font-family: "Times New Roman";
}

#btn:active{
    background-color: tomato;
}

#answer{
    display: block;
    text-align: center;
    font-size: 50px;
    
}