#label{
    display: block;
    font-size: 50px;
    text-align: center;
}

button:active{
    background-color: gray;
}

button{
    
    
    margin-top: 2%;
    margin-left: 10px;
    width: 150px;
    height: 70px;
}

body{
    background-color: black;
    color: white;
}